.movie-card
  position: relative

  .movie-title
    margin: 0
    padding: 10px
    position: absolute
    bottom: 0
    width: 100%
    text-align: center
    background-color: rgba(0,0,0, 0.85)
    color: #eaeaea

