
.movie-card
  position: relative
  height: 100%
  cursor: pointer
  border: 0

  .card-img-top
    height: 100%

  .movie-title
    margin: 0
    padding: 10px
    position: absolute
    bottom: 0
    width: 100%
    text-align: center
    background-color: rgba(0,0,0, 0.85)
    color: #eaeaea

  .favorite-icon
    color: #e63946

.fav-container
    position: absolute
    bottom: 25px
    right: 15px
    border-radius: 4px
    text-align: center
    background-color: rgba(0,0,0, 0.85)
    width: 40px
    height: 40px