
.navbar
  background-color: #0f0f0f !important
  .nav-item
    .nav-link
      color: white
      transition: 0.25s
      text-shadow:1px 1px 0 rgba(0,0,0,0.50)

      &:hover
        opacity: 0.75
        transform: translateY(-2px)
