.header-container 
    width: 100%
    height: 400px
    background-color: red
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    
.overlay
    width: 100%
    height: 400px
    background-color: rgba(0,0,0,0.5)
    justify-content: center
    align-items: center
    display: flex

.title
    font-size: 24px
    text-align: center

.body-container
    background-color: #d9d9d9
    width: 100%
    padding: 0 
    margin: 0 
    justify-content: center 
    align-items: center

.poster-img
    border-bottom-right-radius: 5px
    width: 90%
    height: 470px 
    background-size: cover
    background-repeat: no-repeat
    background-position: center center

.movie-item
    width: 100%
    padding: 0
    height: 200px
    border-radius: 5px
    margin: 5px
    background-size: cover
    background-position: center center
    background-repeat: no-repeat

.title-related-movie
    color: white
    text-align: center
    user-select: none

.content-text
    font-size: 16px
    text-align: justify
    padding: 0
    margin: 0 5px 0 0

.chip
    border-radius: 5px
    justify-content: center
    align-items: center
    padding: 2px 5px
    margin: 2px
    color: white
    font-weight: bold
